---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Appselling from '../components/Appselling.astro';
import Stats from '../components/Stats.astro';
import CtaSection from '../components/CtaSection.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
  <Header />
  <main>
    <Hero />
    <Appselling />
    <Stats />
    <CtaSection />
  </main>
  <Footer />
</Layout>
